/* * {
  border: solid red;
} */

.App {
  font-family: "Nanum Brush Script", cursive;
  padding: 40px;
  background-color: pink;
  margin: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  column-gap: 12px;
}

nav {
  font-size: 175%;
  /* background-color: rgb(168, 121, 216); */
  background-image: linear-gradient(132.6deg, rgba(71, 139, 214, 1) 23.3%, rgba(37, 216, 211, 1) 84.7%);
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 25px;
  color: white;
  padding: 20px;
  height: auto;
}

.BoxForCards {
  /* border: solid red; */
}

.Card {
  text-align: center;
  /* font-size: 125%; */
  color: black;
  /* border: 1px solid black; */
  /* margin-top: -1px; */
  min-height: 150px;
  width: 200px;
  transition: all .6s ease;
  padding: 5px;
}

.Card:hover {
  cursor: pointer;
  background-color: rgb(247, 170, 183);
  border: 1px solid black;
}